@media (max-width: 1408px) {
  .contenu-filtre {
    display: flex;
    flex-wrap: wrap;
  }

  #hebergements {
    flex-direction: column;
  }

  .contenant-hebergement {
    width: 100%;
    margin-inline: auto;
  }

  .contenu-hebergement {
    justify-content: space-between;
  }

  .carte-hebergement {
    margin-right: 50px;
  }

  .populaire {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  .populaire h3 {
    align-self: flex-start;
    margin-left: 50px;
  }

  .contenu-populaire {
    flex-direction: row;
  }

  .carte-populaire {
    margin-right: 20px;
  }

  #activites {
    width: 100%;
  }

  .contenu-activites {
    flex-wrap: no-wrap;
    width: 93%;
  }

  .carte-activites {
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0;
  }
  /* HEADER */
  header {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .conteneur-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
  }

  .conteneur-phone p {
    margin-bottom: 0;
  }

  .inscription-phone {
    display: initial;
    font-size: 16px;
    margin-top: 20px;
  }

  header img {
    margin-left: 20px;
  }

  .conteneur-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
  }

  nav {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  nav ul {
    padding-left: 0;
  }

  .inscription-desk {
    display: none;
  }

  .titre-header {
    width: 90%;
    margin-inline: auto;
  }

  /* RECHERCHE */

  .fa-map-marker-alt {
    font-size: large;
  }

  .ville {
    padding-right: 20px;
  }

  .bouton-recherche {
    margin-inline: auto;
    width: 90%;
  }

  .bouton-rechercher {
    margin: 0;
    border-radius: 18px;
    position: absolute;
    margin-left: 270px;
    padding-bottom: 19px;
  }

  .bouton-rechercher span {
    display: none;
  }

  .bouton-rechercher .fa-search {
    display: contents;
    color: white;
    font-size: large;
  }

  /* FILTRES */

  .filtre {
    width: 90%;
    margin-inline: auto;
  }

  .filtre h3 {
    width: 100%;
    margin-bottom: 0;
  }

  .contenu-filtre {
    flex-wrap: wrap;
  }

  .contenu-filtre button {
    padding-right: 15px;
    margin-right: 0.8em;
    margin-top: 0.8em;
  }

  /* INFO DISPO */

  .info-dispo {
    width: 90%;
    margin-inline: auto;
    font-size: 1em;
    text-align: start;
  }

  span .fa-info {
    padding-left: 0px;
    font-size: small;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* HEBERGEMENTS */

  #hebergements {
    flex-direction: column-reverse;
  }

  /* POPULAIRE */

  .populaire {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .contenant-populaire {
    width: 96%;
  }

  .contenant-populaire h3 {
    width: 90%;
    margin-inline: auto;
    padding-left: 0px;
  }

  .fa-chart-line {
    padding-left: -10px;
  }

  .contenu-populaire {
    flex-direction: column;
  }

  .carte-populaire {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 0.625em;
  }

  .contenu-carte-populaire {
    width: 100%;
    margin-inline: auto;
  }

  .contenu-carte-populaire img {
    width: 125px;
  }

  .texte-contenu-carte-populaire {
    width: 90%;
    padding-right: 10px;
  }

  .texte-contenu-carte-populaire p {
    font-size: 13px;
  }

  .carte-3 img {
    width: 200px;
  }

  /* CONTENANT HEBERGEMENTS */

  .contenant-hebergement {
    background-color: transparent;
    width: 90%;
    padding-bottom: 0;
    height: auto;
  }

  .contenant-hebergement h3 {
    padding-left: 20px;
  }

  .contenu-hebergement {
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
  }

  .carte-hebergement {
    margin: 0.563em 0;
    height: 200px;
    width: 335px;
  }

  .contenu-carte-hebergement img {
    width: 100%;
    height: 115px;
  }

  .plus {
    padding-left: 20px;
  }

  /* ACTIVITES */

  #activites {
    width: 100%;
    margin-inline: auto;
    margin-top: 10px;
  }

  #activites h3 {
    margin-left: 20px;
    margin-top: 0;
  }

  .contenu-activites {
    flex-direction: row;
    height: auto;
    margin-bottom: 0;
  }

  .lien-activites {
    height: 200px;
    width: 335px;
    margin-bottom: 1.125em;
    margin-inline: auto;
  }

  .carte-activites {
    height: 191px;
    width: 335px;
  }

  .carte-activites img {
    height: 135px;
    width: 335px;
  }

  /* FOOTER */

  .contenu-footer {
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 30px;
  }

  .texte-contenu-footer {
    padding-bottom: 0px;
  }

  .texte-contenu-footer h3 {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .texte-contenu-footer ul {
    padding-top: 0;
  }

  .footer-1 {
    padding-top: 40px;
  }
}
