@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  overflow: auto;
}

.container {
  max-width: 1440px;
  margin: 3.12em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: 13px;
}

nav li a {
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

nav li a:hover {
  color: #0065fc;
  padding-top: 60px;
  border-top: 3px solid #0065fc;
}

.inscription {
  font-weight: 700;
  color: #0065fc;
}

.titre-header h1 {
  font-size: 20px;
  padding-bottom: 0;
  padding-top: 20px;
}

.titre-header p {
  margin-top: 0;
}

/* BOUTON RECHERCHE */

.bouton-recherche {
  display: flex;
  margin-bottom: 30px;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 17px;
}

.ville {
  text-align: left;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 17px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-decoration: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.bouton-rechercher {
  background-color: #0065fc;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 17px;
  font-weight: bold;
  outline: none;
  font-size: 1em;
}

.bouton-rechercher:hover {
  color: #0065fc;
  background-color: #deebff;
  cursor: pointer;
}

.fa-search {
  display: none;
}

/* FILTRES */

.filtre {
  display: flex;
  flex-flow: row wrap;
}

.filtre h3 {
  margin-right: 2em;
}

.filtre button {
  display: flex;
  align-items: center;
  height: 2.813em;
  background: none;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  border-left: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  margin-right: 1.438em;
  outline: none;
}

.filtre .icone {
  background-color: #deebff;
  padding: 0.813em;
  border-radius: 100%;
  color: #0065fc;
  margin-right: 0.75em;
  margin-left: -0.125em;
}

.filtre button:hover {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-left: none;
  box-shadow: 5px 5px 10px #f2f2f2;
}

/* NOMBRE D'HÉBERGEMENTS DISPONIBLES */

.info-dispo {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  font-size: 0.9em;
  text-align: center;
  size: small;
  padding-top: 15px;
}

.fa-info {
  height: 20 px;
  width: 20px;
  color: #0065fc;
  background-color: none;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 12px;
}

/* SECTION HEBERGEMENTS */

#hebergements {
  display: flex;
  justify-content: space-between;
  height: 630px;
  margin-bottom: 60px;
}

#hebergements h3 {
  font-size: 22px;
}

.contenant-hebergement {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 0;
  margin-right: 20px;
}

.contenant-hebergement h3 {
  padding-left: 50px;
}

.contenu-hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 800px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.carte-hebergement {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.247);
  margin: 15px 10px 20px 10px;
  height: 200px;
  width: 245px;
}

.contenu-carte-hebergement {
  padding: 5px 5px 10px 5px;
}

.contenu-carte-hebergement img {
  width: 236px;
  height: 115px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.texte-contenu-carte-hebergement {
  padding-left: 12px;
}

.texte-contenu-carte-hebergement h4 {
  margin: 0;
}

.texte-contenu-carte-hebergement p {
  margin: 6px 0;
  font-size: 0.9em;
}

.etoiles {
  color: #0065fc;
  size: small;
}

.plus {
  font-weight: 700;
  font-size: 1.1em;
  padding-left: 50px;
  padding-bottom: 20px;
}

/* LES PLUS POPULAIRES */

.populaire {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 0;
}

.populaire .fa-chart-line {
  margin-left: 115px;
}

.contenu-populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
}

.carte-populaire {
  background-color: white;
  border-radius: 20px;
  height: 145px;
  width: 342px;
  margin-bottom: 30px;
}

.contenu-carte-populaire {
  display: flex;
  padding: 5px;
}

.contenu-carte-populaire img {
  width: 125px;
  height: 135px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.texte-contenu-carte-populaire {
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 50px;
}

.texte-contenu-carte-populaire h4 {
  margin: 0;
}

.texte-contenu-carte-populaire p {
  font-size: 0.9em;
  margin: 6px 0;
}

/* ACTIVITÉS */
#activites {
  margin-bottom: 60px;
}

#activites h3 {
  font-size: 1.37em;
  padding-bottom: 15px;
}
.contenu-activites {
  width: 1340px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 445px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.carte-activites {
  border-radius: 20px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
  width: 300px;
}

.carte-activites img {
  width: 300px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carte-activites h4 {
  padding-left: 17px;
  padding-bottom: 17px;
  padding-top: 17px;
  margin: 0;
}

.lien-activites-1 img {
  height: 390px;
}

.lien-activites-2 img {
  height: 180px;
}
.lien-activites-3 img {
  height: 110px;
}

.lien-activites-4 img {
  height: 390px;
}

.lien-activites-5 img {
  height: 140px;
}

.lien-activites-6 img {
  height: 154px;
}

.contenu-activites a:hover {
  color: #0065fc;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: #f2f2f2;
}

.contenu-footer {
  width: 1340px;
  margin: auto;
  display: flex;
}

.texte-contenu-footer {
  margin-right: 230px;
  padding-bottom: 30px;
}

.texte-contenu-footer h3 {
  padding: 45px 0 10px 0;
}

.texte-contenu-footer ul {
  list-style: none;
  padding: 0;
}

.texte-contenu-footer ul li {
  font-size: 1.05em;
  padding: 5px 0;
}

.texte-contenu-footer ul li a:hover {
  color: #0065fc;
}
